<h2>Service Node List</h2>
<table class="table">
        <thead>
          <tr>
                <th>Rank</th>
                <th>NodePubKey</th>
                <!-- <th>Address</th> -->
                <th>Spv Wallets</th>
                <th></th>
                <th>XCloud serviceNodes</th>
                <th></th>
          </tr> 
        </thead>
        <tbody>
                <tr *ngFor="let sn of serviceNodes; let i = index">
                        <td>{{sn.rank}}</td>
                        <td>                                
                                <a href="javascript:void(0)" (click)="onNodeClick(i)"> {{sn.nodePubKey}}</a>
                        </td>
                        <!-- <td><a href="https://chainz.cryptoid.info/block/address.dws?{{sn.addr}}">{{sn.addr}}</a></td> -->
                        <td>
                                <div class="form-group">
                                        <label for="spvWallets"></label>
                                        <select id="spvWallets" class="form-control" (change)="onSpvWalletChange(i, $event)">
                                                <option *ngFor="let w of sn.spvWallets" [value]="w">{{ w }} </option>
                                        </select>   
                                </div> 
                        </td>
                        <td><a href="javascript:void(0)" (click)="onSpvWalletClick(i)">View</a></td>
                        <td>
                                <div *ngIf = "sn.xCloudServices.length > 0">
                                        <div class="form-group">
                                                <label for="xcloudServices"></label>
                                                <select id="xcloudServices" class="form-control" (change)="onXCloudServiceChange(i, $event)">
                                                        <option *ngFor="let s of sn.xCloudServices" [value]="s">{{ s }} </option>
                                                </select>   
                                        </div> 
                                </div>
                                
                        </td>
                        <td><a href="javascript:void(0)" (click)="onXCloudServiceClick(i)">View</a></td>
                </tr>
        </tbody>
</table>