<div *ngIf="loading else loaded">
  Fetching data...
</div>
<!--TODO: Make comment component..-->
<ng-template #loaded>
  <h2>Comments</h2>
  <div class="comments">
    <comment *ngFor="let c of comments; let i = index;"
      [comment]="c"
      [nodePubKey]="nodePubKey" 
      [serviceName]="serviceName" 
    >

    </comment>
    <comment-new 
      [user]="user" 
      [nodePubKey]="nodePubKey" 
      [serviceName]="serviceName" 
      (newComment)="onNewComment($event)"
      ></comment-new>
  </div>
</ng-template>
