<div *ngIf="loading else loaded">
    Fetching Data...
  </div>

<ng-template #loaded>
    <h1>Service Node</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>NodePubKey</td>
          <td>{{nodePubKey}}</td>
        </tr>
        <tr>
          <td>Score</td>
          <td>{{result?.score}}</td>
        </tr>
        <tr>
          <td>Banned</td>
          <td>{{result?.banned}}</td>
        </tr>
        <tr>
          <td>Payment Address</td>
          <td><a href="https://chainz.cryptoid.info/block/address.dws?{{result.paymentAddress}}">{{result?.paymentAddress}}</a></td>
        </tr>
        <tr>
          <td>Fee Default</td>
          <td>{{result?.feeDefault}} BLOCK</td>
        </tr>
      </tbody>
    </table>
    <ngb-tabset>     
        <ngb-tab title="Configuration">
            <ng-template ngbTabContent>
                <h3>Config</h3>
                <pre>
                  <code>{{result?.config}}</code>
                </pre>
                <!-- <div class="well overflow-visible" style="white-space: pre-line"> -->
                <!-- </div>             -->
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Fees">
            <ng-template ngbTabContent>
                <h3>Fees</h3>
                <table class="table">
                  <tbody>
                    <tr *ngFor="let fee of result.fees | keyvalue">
                      <td>{{fee.key}}</td>
                      <td>{{fee.value}} BLOCK</td>
                    </tr>
                  </tbody>
                </table>
            </ng-template>
          </ngb-tab>
        <ngb-tab title="Spv Wallets">
            <ng-template ngbTabContent>
              <h3>Spv Wallet</h3>  
                <table class="table">
                    <tbody>
                      <tr *ngFor="let s of result?.spvWallets">
                        <td><a [routerLink]="['/spv-wallets', 'xr::' + s, nodePubKey]">{{s}}</a></td>
                      </tr>
                    </tbody>
                </table>
            </ng-template>
          </ngb-tab>
        <ngb-tab title="XCloud Services">
            <ng-template ngbTabContent>
                <h3>XCloud Services offered by this Service Node</h3>

                <div *ngIf="result?.services.length == 0 else notEmpty">
                    This service node doesn't offer XCloud Services yet :(
                  </div>
                  
                <ng-template #notEmpty>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Service</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let s of result?.services">
                            <td><a [routerLink]="['/xcloud-services', 'xrs::' + s]">{{s}}</a></td>
                          </tr>
                        </tbody>
                    </table>
                    <ngb-pagination [collectionSize]="serviceNodes?.totalItems" [pageSize]="query.pageSize" [(page)]="query.page" (pageChange)="pageChange($event)"></ngb-pagination>
                  </ng-template>  
              </ng-template>
            
        </ngb-tab>
    </ngb-tabset>
  </ng-template>
    
  
