<div *ngIf="loading else loaded">
  Fetching data...
</div>

<ng-template #loaded>
    <h1>XCloud Service</h1>
    <h2>{{serviceName}}</h2>
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <tr>
          <td>Fee</td>
          <td>{{result.service.fee}} BLOCK</td>
        <tr *ngIf="result.service.parameters">
            <td>Parameter Types</td>
            <td>{{result.service.parameters}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{result.service.helpDescription}}</td>
        </tr>
        <tr>
          <div *ngIf="result.service.parameters; else noParams">
            <td>Usage Instructions Blocknet CLI</td>
            <td>xrService {{serviceName}} [{{result.service.parameters}}]</td>
          </div>
          <ng-template #noParams>
            <td>Usage Instructions Blocknet CLI</td>
            <td>xrService {{serviceName}}</td>
          </ng-template> 
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-tabset>     
        <ngb-tab title="Try it out">
            <ng-template ngbTabContent>
                <h3>Try it out</h3>
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <h4>Request</h4>
                    <form (ngSubmit)="onSubmit()" #serviceForm="ngForm">
                      <div *ngFor="let p of result.service.parametersList; let i = index">
                        <div class="form-group">
                          <label for="param-{{i}}">Param-{{i + 1}} [{{p}}] </label>
                          <input type="text" class="form-control" id="param-{{i}}" [(ngModel)]="parametervalues[i]" name="param-{{i}}" #params="ngModel" required>
                        </div>
                        <div class="form-group">
                          <div *ngIf="params.invalid && (params.dirty || params.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="params.errors.required">
                                            Param-{{i + 1}} Tx is required.
                                    </div>
                            </div> 
                        </div>
                      </div>

                      <br>
                      <button type="submit" class="btn btn-outline-primary" [disabled]="serviceForm.form.invalid">Submit</button>
                    </form> 
                  </div>
                  <div class="col-md-9 col-sm-12">
                    <h4>Response</h4>
                      <pre>
                        <code>
                          <div *ngIf="resultLoading else resultLoaded">
                            Executing...
                          </div>
                          <ng-template #resultLoaded>
                            {{ serviceResult }}
                          </ng-template>
                        </code>
                      </pre>
                  </div>
                </div>
          
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Service Node Info">
              <ng-template ngbTabContent>
                  <h3>Offered By</h3>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>NodePubKey</td>
                          <td class="ellipsis"><a [routerLink]="['/xrouter-snodes', result.node.nodePubKey]">{{result.node.nodePubKey}}</a></td>
                        </tr>
                        <tr>
                          <td>Score</td>
                          <td>{{result.node.score}}</td>
                        </tr>
                        <tr>
                          <td>Payment Address</td>
                          <td>
                            <a href="https://chainz.cryptoid.info/block/address.dws?{{result.node.paymentAddress}}">{{result.node.paymentAddress}}</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Default Fee</td>
                          <td>{{result.node.feeDefault}} BLOCK</td>
                        </tr>
                    
                      </tbody>
                    </table>
                  </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Configuration">
                <ng-template ngbTabContent>
                  <h3>Configuration [{{serviceName}}] in xrouter.conf</h3>
                  <pre>
                    <code>{{result.service.config}}</code>
                  </pre>
                </ng-template>
              </ngb-tab>
          </ngb-tabset> 
    
    <!-- <h3>Other Service Nodes that offer this service</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Address</th>
          <th>Score</th>
          <th>Banned</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of result.otherNodes">
          <td><a [routerLink]="['/xrouter-snodes', s.nodePubKey]">{{s.nodePubKey}}</a></td>
          <td>{{s.score}}</td>
          <td>{{s.banned}}</td>
        </tr>
      </tbody>
    </table>   -->
    <hr>
    <comments 
      [nodePubKey]="result.node.nodePubKey"
      [serviceName]="serviceName"
    ></comments>
</ng-template>  