<div *ngIf="loading else loaded">
    Loading page...
  </div>

<ng-template #loaded>
  <h1>SPV Wallet</h1>
  <h2>{{spvWalletName}}</h2>
  
  <h3>Commands</h3>
  <table class="table">
    <thead>
        <tr>
            <th>Command</th>
            <th>Fee (BLOCK)</th>
            <th>Request Limit</th>
            <th>Payment Address</th>
            <th>Disabled</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of result.spvConfig.commands">
            <td>{{c.command}}</td>
            <td>{{c.fee}}</td>
            <td>{{c.requestLimit}}</td>
            <td>{{c.paymentAddress}}</td>
            <td>{{c.disabled}}</td>
        </tr>
    </tbody>
  </table>
  <hr>
  <h3>Try out a {{ spvWalletName }} command</h3>
    <form (ngSubmit)="onSubmit()" #spvWalletForm="ngForm">
      <label for="spvCommand">Spv Command</label>
      <select class="form-control" [(ngModel)]="selectedSpvCommand" name="selectedSpvCommand">
          <option *ngFor="let c of result.spvConfig.commands" [value]="c.command">{{c.command}}</option>
      </select>
      <div [ngSwitch]="selectedSpvCommand">
        <div *ngSwitchCase="'xrGetBlockCount'">
          
        </div>
        <div *ngSwitchCase="'xrGetBlockHash'">
            <label for="blockNumber">Block Number</label>
            <input type="number" class="form-control" id="blockNumber" ngModel name="blockNumber">
        </div>
        <div *ngSwitchCase="'xrGetBlock'">
            <label for="blockHash">Block Hash</label>
            <input type="text" class="form-control" id="blockHash" ngModel name="blockHash">
        </div>
        <div *ngSwitchCase="'xrGetBlocks'">
          <h4>Block hash inputs</h4>
          <button type="button" (click)="addBlockHash()">Add Block Hash input</button> 
          <hr>
          <div *ngFor="let bh of blockHashes; let i = index;">
              <label for="blockHash-{{i}}">Blockhash-{{i}}</label>
              <input type="text" class="form-control" id="blockHash-{{i}}" [(ngModel)]="blockHashes[i]" name="blockHash-{{i}}">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeBlockHash(i)">Remove</button>
          </div>
          <hr>
        </div>
        <div *ngSwitchCase="'xrGetTransaction'">
            <label for="txid">Txid</label>
            <input type="text" class="form-control" id="txid" ngModel name="txid">
        </div>
        <div *ngSwitchCase="'xrGetTransactions'">
          <h4>TxId inputs</h4>
          <button type="button" (click)="addTxId()">Add TxId input</button> 
          <hr>
            <div *ngFor="let txid of txIds; let i = index;">
                <label for="txid-{{i}}">txid-{{i}}</label>
                <input type="text" class="form-control" id="txid-{{i}}" [(ngModel)]="txIds[i]" name="txid-{{i}}">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeTxId(i)">Remove</button>
            </div>
          <hr>
        </div>
        <div *ngSwitchCase="'xrDecodeRawTransaction'">
            <label for="txHex">Tx Hex</label>
            <input type="text" class="form-control" id="txHex" ngModel name="txHex">
        </div>
        <div *ngSwitchCase="'xrSendTransaction'">
            <label for="signedTx">Signed Tx</label>
            <input type="text" class="form-control" id="signedTx" ngModel name="signedTx">
        </div>
      </div>

      <label for="nodeCount">Node count</label>
      <input type="number" class="form-control" id="nodeCount"  [(ngModel)]="nodeCount" name="nodeCount">
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <div class="overflow-auto">
        <pre style="max-height:50vh;">
            {{ spvWalletCommandResult | json }}
        </pre>
      </div>
  <hr>

  <h3>Offered By</h3>
  <table class="table">
    <tbody>
      <tr>
        <td>NodePubKey</td>
        <td><a [routerLink]="['/xrouter-snodes', result.node.nodePubKey]">{{result.node.nodePubKey}}</a></td>
      </tr>
      <tr>
        <td>Score</td>
        <td>{{result.node.score}}</td>
      </tr>
      <tr>
        <td>Banned</td>
        <td>{{result.node.banned}}</td>
      </tr>
      <tr>
        <td>Default Fee</td>
        <td>{{result.node.feeDefault}} BLOCK</td>
      </tr>
  
    </tbody>
  </table>
  
  <h3>Other Service Nodes that offer this service</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Address</th>
        <th>Score</th>
        <th>Banned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of result.otherNodes">
        <td><a [routerLink]="['/xrouter-snodes', s.nodePubKey]">{{s.nodePubKey}}</a></td>
        <td>{{s.score}}</td>
        <td>{{s.banned}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>  